.content{
    background-color: lightcoral;
    border: 10px solid rgb(173, 92, 92);
    height: 400px;
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content p{
    padding-top: 40px;
}
.name_content{
    flex-basis: 50px;
    font-size: 20px;
}