.footer{
    background-color: lightgreen;
    border: 10px solid rgb(92, 151, 92);
    height:140px;
    margin-top: auto;
    color: black;
}
.footer p{
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}